img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(5px);
}

article > div > h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    margin-top: 0;
}

article > div > input {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

article > div > button {
    font-size: 1.5rem;
    display: block;
    width: 100%;
    font-weight: bold;
}

article > div > p {
    margin-top: 1rem;
}

article > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

article > div > div > input {
    width: 50%;
}