:root {
    --color-primary: #5A50B3;
    --color-secondary: #4885BE;
    --color-info: #0C88E3;
    --color-success: #0CBF8E;
    --color-warning: #F7B924;
    --color-danger: #F2545B;

    --color-text: #FFFFFF;
    --color-text-muted: #777c86;

    --color-bg-1: #0B0F19;
    --color-bg-2: #1A1F2E;
    --color-bg-3: #2A3040;
    --color-bg-4: #3A4052;
}

body {
    background-color: var(--color-bg-1);
    color: var(--color-text);

    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
}

nav {
    background-color: var(--color-bg-2);
}

article {
    flex-grow: 1;
    padding: 1rem;
}

footer {
    background-color: var(--color-bg-2);
    padding: 1rem;
}


input {
    background-color: var(--color-bg-3);
    border: 1px solid var(--color-bg-4);
    border-radius: 0.55rem;
    color: var(--color-text);
    padding: 0.5rem;
}

input:focus {
    outline: none;
}


button {
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.55rem;
    color: var(--color-text);
    cursor: pointer;
    padding: 0.5rem;

    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: var(--color-secondary);
}

button:focus {
    outline: none;
}

button:disabled {
    background-color: var(--color-bg-3);
    color: var(--color-text-muted);
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: var(--color-bg-3);
}

button:active {
    background-color: var(--color-secondary);
}


a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: bold;

    transition: color 0.2s ease-in-out;
}

a:hover {
    color: var(--color-primary);
}

row {
    display: flex;
    flex-direction: row;
}

row > * {
    flex-grow: 1;
}

card {
    background-color: var(--color-bg-2);
    border-radius: 0.55rem;
    padding: 1rem;
    margin: 1rem;
}

card > h2 {
    margin-top: 0;
}